.mat-column-Date,
.mat-column-Employee,
.mat-column-Remarks,
.mat-column-Points {
    text-align: left;
    justify-content: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #5c5b5b;
}


/* .mat-column-Points {
    text-align: right;
    justify-content: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #5c5b5b;
} */