.mat-column-Plant,
.mat-column-Department {
    text-align: left;
    justify-content: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #5c5b5b;
}