<form [formGroup]="formLevels" style="max-width: auto;">
    <mat-card>
        <mat-card-header class="example-header mt-2">
            <div class="example-title">
                <mat-icon class="example-icon">settings_applications</mat-icon>
                {{dialog_title}}
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-3 col-sm-12 ">
                    <mat-form-field>
                        <mat-label>Levels</mat-label>
                        <input matInput placeholder="Level " formControlName="Levels">
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-sm-12 ">
                    <mat-form-field>
                        <mat-label>Marks</mat-label>
                        <input matInput placeholder="Marks " numbersOnly formControlName="Marks" (keypress)="validationService.globalValidateNo($event)">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="example-button" [disabled]="formLevels.invalid" (click)="submit()">{{btnText}}</button>
            <button mat-flat-button color="warn" class="example-button" (click)="on_cancel_button()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>