<form [formGroup]="formDashBoard">
    <mat-card>
        <mat-card-header class="example-header mt-3">
            <div class="example-title">
                <mat-icon class="example-icon">dashboard</mat-icon>
                <span style="margin-left:80vh;">{{dialog_title}}</span>
            </div>


            <div class="filter-icon-container">
                <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;"> Date:{{CurrentDateTime}}</span>

                <button mat-icon-button matTooltip="Export" (click)="exportHtmlToImage()">
                    <mat-icon>save_alt</mat-icon>
                  </button>
                <button mat-icon-button matTooltip="Filter" (click)="filterClick()">
                  <mat-icon>filter_list</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="IsFiltered">
                <div class="col-lg-2 col-sm-12">
                    <mat-form-field>
                        <mat-label>From Date</mat-label>
                        <input matInput [matDatepicker]="FromDate" placeholder="YYYY-MM-DD" formControlName="FromDate">
                        <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
                        <mat-datepicker #FromDate></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-sm-12">
                    <mat-form-field>
                        <mat-label>To Date</mat-label>
                        <input matInput [matDatepicker]="ToDate" placeholder="YYYY-MM-DD" formControlName="ToDate">
                        <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                        <mat-datepicker #ToDate></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-sm-12">
                    <mat-form-field>
                        <mat-label>Plant</mat-label>
                        <mat-select formControlName="PlantId" placeholder=" Plant " required>
                            <mat-option [value]="'0'">Select All</mat-option>
                            <mat-option *ngFor="let option of PlantListFilter" [value]="option.PlantId">
                                {{option.Plant}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-5 col-sm-12">
                    <button mat-flat-button color="primary" class="example-button btnSuccess" [disabled]="formDashBoard.invalid" (click)="GetDashBoardData()">{{btnText}}</button>
                    <!-- <button mat-flat-button color="primary" class="example-button btnSuccess" (click)="DownloadGiftPDF()" matTooltip="GIFT CATALOGUE PDF">
                        <mat-icon>picture_as_pdf</mat-icon> 
                       GIFT CATALOGUE PDF</button> -->
                </div>
            </div>

            <div class="main-content" #contentToCapture>
                <div class="container-fluid">
                    <div class="row">
                        <!-- <div class="col-lg-6 col-sm-12">
                            <div class="card">
                                <p-chart type="bar" [data]="data" [options]="options" height="560px"></p-chart>
                            </div>
                        </div> -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="leaderboard-box">
                                <div class="title">Leaderboard </div>
                                <div class="header-row">
                                    <div class="header-Medals">Rank</div>
                                    <div class="header-name">Employee Name</div>
                                    <div class="header-total-ips">Total IPs</div>
                                    <div class="header-stars">Statistics</div>
                                    <div class="header-points">Points</div>
                                </div>
                                <div class="leader-item" *ngFor="let leader of leaders; let i = index">
                                    <div class="leaderboardrow">
                                        <div class="profile-icon">
                                            <ng-container>
                                                <img class="medal-image" [src]="getMedalImage(i)" alt="Medal" />
                                            </ng-container>
                                        </div>
                                        <div class="row-content">
                                            <div class="name">{{ leader.EmployeeName }}</div>
                                            <div style="font-weight: bold;margin-right:25px;">{{ leader.TotalIPs }}</div>
                                            <div style="width: 150px;">
                                                <div [style.width.px]="30 * leader.StarCount" [style.height.px]="20" [style.backgroundColor]="'#5ba7f2'"></div>
                                            </div>
                                            <div class="points">{{ leader.Score }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="widget-box">
                                        <div class="widget-content">
                                            <i class="material-icons widget-icon-large">payment</i>
                                            <div class="widget-details">
                                                <div class="widget-label">
                                                    <p class="widget-title">Total Validated Hard Saving in T INR</p>
                                                </div>
                                                <div class="widget-value">
                                                    <h3>{{TotalValidatedSavings}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="widget-box">
                                        <div class="widget-content">
                                            <i class="material-icons widget-icon-large">timeline</i>
                                            <div class="widget-details">
                                                <div class="widget-label">
                                                    <p class="widget-title">IPs For KW count Numbers</p>
                                                </div>
                                                <div class="widget-value">
                                                    <h3>{{ IpKwCount }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="widget-box">
                                        <div class="widget-content">
                                            <i class="material-icons widget-icon-large">assessment</i>
                                            <div class="widget-details">
                                                <div class="widget-label">
                                                    <p class="widget-title">Total IPs count Numbers</p>
                                                </div>
                                                <div class="widget-value">
                                                    <h3>{{ TotalIPs }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="widget-box">
                                        <div class="widget-content">
                                            <i class="material-icons widget-icon-large">stars</i>
                                            <div class="widget-details">
                                                <div class="widget-label">
                                                    <p class="widget-title">Highest Validated IPs(Top 3)</p>
                                                </div>
                                                <div class="widget-value">
                                                    <h3>{{ HighestValidatedIPs }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <p-chart type="bar" [data]="data1" [options]="options1" height="500px" style="box-sizing: border-box;display: block;height: 480x !important;"></p-chart>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <p-chart type="bar" [data]="data2" [options]="options2" height="500px" style="box-sizing: border-box;display: block;height: 480px !important;"></p-chart>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-6">
                            <div class="widget-box">
                                <div class="widget-content">
                                    <i class="material-icons widget-icon-large">bar_chart</i>
                                    <div class="widget-details">
                                        <div class="widget-label">
                                            <p class="widget-title">Highest Points in Previous year</p>
                                        </div>
                                        <div class="widget-value">
                                            <h3>{{ HighestPointsYear}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget-box">
                                <div class="widget-content">
                                    <i class="material-icons widget-icon-large">swap_horiz</i>
                                    <div class="widget-details">
                                        <div class="widget-label">
                                            <p class="widget-title"> Pending IPs For Financial Validation </p>
                                        </div>
                                        <div class="widget-value">
                                            <h3>{{ PendingIps }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget-box">
                                <div class="widget-content">
                                    <i class="material-icons widget-icon-large" (click)="DownloadGiftPDF()" style="cursor: pointer;">picture_as_pdf</i>
                                    <div class="widget-details">
                                        <div class="widget-label">
                                            <p class="widget-title" (click)="DownloadGiftPDF()" style="cursor: pointer;">Gift Catalogue and Point Guideline</p>
                                        </div>
                                        <!-- <div class="widget-value">
                                            <h3>{{ HighestValidatedIPs }}</h3>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>