<form [formGroup]="formEmployees" style="max-width: auto;">
    <mat-card>
        <mat-card-header class="example-header mt-2">
            <div class="example-title">
                <mat-icon class="example-icon">supervised_user_circle</mat-icon>
                {{dialog_title}}
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>SAP Code</mat-label>
                        <input matInput placeholder="SAP Code" formControlName="SAPId" (keypress)="validationService.globalValidateNo($event)">
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>ShortalInitial</mat-label>
                        <input matInput placeholder="ShortalInitial" formControlName="ShortalInitial">
                    </mat-form-field>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Employee</mat-label>
                        <input matInput placeholder="Employee" formControlName="Employee">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="Department" placeholder=" Department " required>
                            <mat-form-field>
                                <input class="align-element" placeholder="Search Department" matInput required (keyup)="filterDepartment($event)" />
                            </mat-form-field>
                            <mat-option *ngFor="let option of DepartmentFilter" [value]="option.DepartmentId">
                                {{option.Department}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->



                <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>JobTitle</mat-label>
                        <mat-select formControlName="JobTitle" placeholder=" JobTitle " required>
                            <mat-form-field>
                                <input class="align-element" placeholder="Search JobTitle" matInput required (keyup)="filterJobTitle($event)" />
                            </mat-form-field>
                            <mat-option *ngFor="let option of JobTitleFilter" [value]="option.TextListId">
                                {{option.Text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>Joining Date</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="YYYY-MM-DD" formControlName="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div> -->
            </div>

        </mat-card-content>
        <mat-card-actions class="mt-2">
            <button mat-flat-button color="primary" class="example-button" [disabled]="formEmployees.invalid" (click)="submit()">{{btnText}}</button>
            <button mat-flat-button color="warn" class="example-button" (click)="on_cancel_button()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>