<div class="login-container">
    <mat-card class="login-box">
        <mat-card-content>

            <div class="logoDesign">
                <img src="/assets/logo.png" class="logoDesign">
            </div>
            <div class="login-title">
                <h1 class="title-text">Point System Login</h1>
            </div>
            <form [formGroup]="formLogin">
                <mat-form-field class="form-group" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" id="username" formControlName="Username" required>
                </mat-form-field>
                <mat-form-field class="form-group" appearance="outline">
                    <mat-label>Password</mat-label>
                    <!-- Change "Password" to "Passowrd" here -->
                    <input matInput type="password" id="password" formControlName="Password" required>
                </mat-form-field>
                <button mat-raised-button type="submit " [disabled]="formLogin.invalid " class="login-button" (click)="Login()">
            <mat-icon class="login-icon ">lock</mat-icon> <span class="button-text ">Login</span>
          </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>