.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


/* Individual radio button style */

.radio-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    /* Adjust the font size to your preference */
}

.radio-group input {
    margin-right: 5px;
    /* Adjust spacing between radio button and label */
}


/* Highlight when radio button is selected */

.radio-group input:checked+label {
    background-color: #4caf50;
    /* Change background color when selected */
    color: #fff;
    /* Change text color when selected */
    border-radius: 5px;
    /* Add a border-radius for rounded corners */
    padding: 5px;
    /* Add padding for better visual appearance */
}