<form [formGroup]="formDepartments" style="max-width: auto;">
    <mat-card>
        <mat-card-header class="example-header mt-2">
            <div class="example-title">
                <mat-icon class="example-icon">work</mat-icon>
                {{dialog_title}}
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>Plant</mat-label>
                        <mat-select formControlName="PlantId" placeholder=" Plant " required>
                            <mat-form-field>
                                <input class="align-element" placeholder="Search Plant" matInput required (keyup)="filterPlant($event)" />
                            </mat-form-field>
                            <mat-option *ngFor="let option of PlantListFilter" [value]="option.PlantId">
                                {{option.Plant}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-label>Department</mat-label>
                        <input matInput placeholder="Department" formControlName="Department">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions class="mt-2">
            <button mat-flat-button color="primary" class="example-button" [disabled]="formDepartments.invalid" (click)="submit()">{{btnText}}</button>
            <button mat-flat-button color="warn" class="example-button" (click)="on_cancel_button()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>