<div class="card">
    <div class="card-header h4">
        {{ dialog_title }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <mat-form-field appearance="outline">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Global Search">
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
                <button mat-icon-button class="round-button" (click)="open_Leves_form('InsertLevels', '0' ) " matTooltip="Add New Record" [disabled]="!matchingItem?.AllowInsert">
                    <mat-icon class="icon-white ">add</mat-icon>
                </button>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 mat-table-container ">
                <mat-table [dataSource]="_LevelTableDataSource " matSort class="table-width table-bordered ">
                    <ng-container matColumnDef="Level">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Level
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.Level}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Marks">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Marks
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.Marks}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef class="col-lg-1 "> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row " class="col-lg-1 ">
                            <a mat-icon-button (click)="open_Leves_form('GetLevelsById', row.LevelsId) " matTooltip="Edit Record" [disabled]="!matchingItem?.AllowUpdate">
                                <mat-icon style="color: #0B3E61; ">edit</mat-icon>
                            </a>

                            <a mat-icon-button (click)="confirmDelete(row.LevelsId)" matTooltip="Delete Product Order" style="cursor: pointer;">
                                <mat-icon style="color: #c03636;">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="_displayColumns"></tr>
                    <tr mat-row *matRowDef="let row;columns:_displayColumns;" class="example-element-row"></tr>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>