/*  */

.border-red {
    border-color: red !important;
    /* Use !important to override other border styles */
}


/* ::ng-deep .mat-mdc-text-field-wrapper {
    height: 42px !important;
}

::ng-deep .mat-mdc-input-element {
    top: -10px !important;
    position: relative !important;
} */

.checkbox-item {
    display: inline-block;
    margin-right: 0px;
    /* Adjust spacing as needed */
}

.readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
}