.mat-column-ShortalInitial,
.mat-column-Employee,
.mat-column-JobTitle,
.mat-column-Department,
.mat-column-DateOfJoin {
    text-align: left;
    justify-content: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #5c5b5b;
}

.mat-column-SAPId {
    text-align: right;
    justify-content: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #5c5b5b;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block !important;
    padding: 6px 12px !important;
    cursor: pointer !important;
    margin: 2px;
    background-color: #007bff !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
}

.custom-file-upload:hover {
    background-color: #0069d9 !important;
}