<div class="card">
    <div class="card-header h4">
        {{ dialog_title }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <mat-form-field appearance="outline">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Global Search">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mat-table-container ">
                <mat-table [dataSource]="_UserRightsTableDataSource " matSort class="table-width table-bordered ">
                    <!-- <ng-container matColumnDef="SrNo">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> SR No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.SrNo}} </mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="Name">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.Name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsAdmin">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Is Admin
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="col-lg-2">
                            <span [ngClass]="{'greenCard': element.IsAdmin, 'redCard': !element.IsAdmin}">
                                {{ element.IsAdmin }}
                            </span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="col-lg-1"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="col-lg-1">
                            <a mat-icon-button (click)="OpenUserFrom('AddNewUserRights', row.UserId, row.Name)" matTooltip="Edit Record">
                                <mat-icon style="color: #0B3E61;">edit</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="_displayColumns"></tr>
                    <tr mat-row *matRowDef="let row;columns:_displayColumns;" class="example-element-row"></tr>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>