<form [formGroup]="formKaizen">
    <mat-card>
        <mat-card-header class="example-header mt-2">
            <div class="example-title">
                <mat-icon class="example-icon">assessment</mat-icon>
                Improvement Proposal
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12" style="display: none;">
                            <input type="file" name="file" id="inputGroupFile" required (change)="handleImport($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <mat-form-field>
                                <mat-label>Company</mat-label>
                                <mat-select [disabled]="isSelectDisabled" formControlName="Company" placeholder="Company" required>
                                    <mat-option [disabled]="isSelectDisabled" *ngFor="let option of Company" [value]="option.CompanyId">{{ option.Company }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <mat-label style="font-weight: 500;">Just DID IT</mat-label>
                            <mat-checkbox color="primary" formControlName="JustDID" [readonly]="IsReadOnly"></mat-checkbox>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <mat-form-field>
                                <mat-label style="font-weight: 500;">Proposal</mat-label>
                                <input matInput placeholder="Proposal" formControlName="Proposal" [readonly]="IsReadOnly">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div *ngFor="let interest of Category; let i = index" class="checkbox-item">
                                <mat-checkbox color="primary" #checkboxRef [checked]="interest.isSelected" (change)="onChange(interest,$event)" [value]="interest.CategoryId">{{interest.Category}}</mat-checkbox>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <mat-form-field>
                                <mat-label>Results/Benfits/Remarks</mat-label>
                                <input matInput placeholder="Results/Benfits/Remarks" formControlName="Results" [readonly]="IsReadOnly">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <mat-form-field>
                                <mat-label>Scope & Plan For Horizontal Development</mat-label>
                                <input matInput placeholder="Scope & Plan For Horizontal Development" formControlName="Scope">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4" *ngIf="IsApprovedData">
                            <mat-form-field>
                                <mat-label>Level</mat-label>
                                <input matInput placeholder="Scope & Plan For Horizontal Development" formControlName="LevelLabel">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4" *ngIf="IsApprovedData">
                            <mat-form-field>
                                <mat-label>Point</mat-label>
                                <input matInput placeholder="Scope & Plan For Horizontal Development" formControlName="PointLabel">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4" *ngIf="IsApprovedData">
                            <mat-form-field>
                                <mat-label>KW</mat-label>
                                <input matInput placeholder="Scope & Plan For Horizontal Development" formControlName="KWLabel">
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>User</mat-label>
                                <mat-select formControlName="User" placeholder="User" required>
                                    <mat-form-field>
                                        <input class="align-element" placeholder="Search User" matInput required (keyup)="filterUser($event)" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let option of UserFilter" [value]="option.EmployeId">{{ option.Employee }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Responsible User</mat-label>
                                <mat-select formControlName="ResponsibleUser" placeholder="Responsible User">
                                    <mat-form-field>
                                        <input class="align-element" placeholder="Responsible User" matInput (keyup)="filterResponsible($event)" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let option of ResponsibleUserFilter" [value]="option.EmployeId">{{ option.Employee }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Manager</mat-label>
                                <mat-select formControlName="ManagerId" placeholder="Manager" required>
                                    <mat-form-field>
                                        <input class="align-element" placeholder="Manger" matInput required (keyup)="filterManager($event)" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let option of ManagerFilter" [value]="option.ManagerId">{{ option.Manager }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Number</mat-label>
                                <input matInput placeholder="Number" formControlName="Number" (keypress)="validationService.globalValidateNo($event)" readonly="true">
                            </mat-form-field>
                        </div>


                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Plant</mat-label>
                                <mat-select formControlName="Plant" placeholder="Plant" required>
                                    <mat-option *ngFor="let option of PlantS" [value]="option.PlantId">{{ option.Plant }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Totem</mat-label>
                                <mat-select formControlName="Totem" placeholder="Totem" required>
                                    <mat-form-field>
                                        <input class="align-element" placeholder="Search Totem" matInput required (keyup)="filterTotem($event)" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let option of TotemFilter" [value]="option.TotemId">{{ option.Totem }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <mat-form-field>
                                <mat-label>Created Date</mat-label>
                                <input matInput [matDatepicker]="Date" placeholder="YYYY-MM-DD" formControlName="CreatedDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="Date" [disabled]="true"></mat-datepicker-toggle>
                                <mat-datepicker #Date [disabled]="true"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Cost Saving</mat-label>
                                <input matInput placeholder="CostSaving" formControlName="CostSaving" (keypress)="validationService.globalValidateNo($event)">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <mat-form-field>
                                <mat-label>Implemented Date</mat-label>
                                <input matInput [matDatepicker]="ImplementedDate" placeholder="YYYY-MM-DD" formControlName="ImplementedDate">
                                <mat-datepicker-toggle matSuffix [for]="ImplementedDate"></mat-datepicker-toggle>
                                <mat-datepicker #ImplementedDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <mat-form-field>
                                <mat-label>Current Status</mat-label>
                                <mat-select formControlName="Status" placeholder="Current Status">
                                    <mat-option *ngFor="let option of Status" [value]="option.StatusId">{{ option.Status }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <button mat-flat-button color="primary" (click)="openDynamicUrl()">Open URL</button>
                        </div>

                    </div>
                </div>
            </div>
            <mat-card-actions class="mt-2">
                <button mat-flat-button color="primary" class="example-button" [disabled]="formKaizen.invalid" (click)="submit()">{{ btnText }}</button>
                <button mat-flat-button color="warn" class="example-button" (click)="on_cancel_button()">Cancel</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>