<div class="card">
    <div class="card-header h8">
        {{formTitle}}
        <button class="close-button" (click)="onClose()">X</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <input type="file" name="file" id="inputGroupFile" required (change)="handleImport($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <!-- <label class="custom-file-label" for="inputGroupFile">Choose file</label> -->
            </div>
            <div class="col-lg-2">
                <button (click)="import()" *ngIf="showButton" style="background-color:  #50A85E !important;" class="btn btn-primary float-right">
                    Import File <i class="fa fa-download"></i>
                  </button>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-12 mat-table-container">
                <mat-table [dataSource]="_ImportDataSource " matSort class="table-width table-bordered " *ngIf="_ImportDataSource && _ImportDataSource.data && _ImportDataSource.data.length > 0">
                    <ng-container matColumnDef="Remark">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Remark
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.Remark}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="SrNo">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Sr No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.SrNo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SAPId">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> SAP Id
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.SAPId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ShortalInitial">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> ShortalInitial
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.ShortalInitial}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Employee">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Employee
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.Employee}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="JobTitle">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> JobTitle
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.JobTitle}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Department">
                        <mat-header-cell mat-sort-header *matHeaderCellDef class="col-lg-2 "> Department
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element " class="col-lg-2 "> {{element.Department}} </mat-cell>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="_displayColumns"></tr>
                    <tr mat-row *matRowDef="let row;columns:_displayColumns;" class="example-element-row"></tr>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements" *ngIf="_ImportDataSource && _ImportDataSource.data && _ImportDataSource.data.length > 0">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>