.mat-column-Number,
.mat-column-Date,
.mat-column-Category,
.mat-column-Proposal,
.mat-column-Result,
.mat-column-Plant,
.mat-column-CostSaving,
.mat-column-Status,
.mat-column-Status {
    text-align: left;
    justify-content: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #5c5b5b;
}

.no-records {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center !important;
    font-weight: bolder;
}